[2020-03-04 14:05] matthijskooijman commented on #322
(OTOH, I guess that commit signing might be mostly useful if there's also a whitelist of people that are allowed to sign commits so you can actually check integrity? Anyone can generate a keypair and sign commits, of course.)

[2020-03-04 14:14] rrthomas commented on #94
Thanks for this update! For now I'm using an old version of Hamster, and waiting until the revived legacy version is recommended for upgrade and/or (re-)appears in Ubuntu LTS.

[2020-03-05 19:35] mwilck commented on #271
IIRC 0.10.0 would kick us from GNOME shell 3.20 compatibility to 3.28. The later changes are not included.

[2020-03-06 00:11] DirkHoffmann commented on #304
Following @elbenfreund's request, here is my audit of the presently four extension providers in https://extensions.gnome.org (aka EGO).

* [elbenfreund](https://extensions.gnome.org/accounts/profile/elbenfreund) repository
   * provides: 3.20,  3.18,  3.16,  3.14,  3.12,  3.10,  3.8,  3.6.1,  3.6,  3.4
* [sufiyan](https://extensions.gnome.org/accounts/profile/sufiyan) repository
   * provides: 3.2

[2020-03-06 00:21] DirkHoffmann commented on #304
@muhammadsufiyan, @jasuarez, if you could answer to this request to clean up (better: remove) your repositories here, it would make this task easier (and more transparent).

[2020-03-06 07:47] elbenfreund commented on #304
Yes

It is, but it has not passed review so far. The "review" - interface was very confusing for me, which even at that time of activity made me realize what is going on far too late.

There are a few minor changes "suggested" by the reviewer, iiuc. I guess we close the review for ``0.10.0`` and focus on the release you guys are working on?

[2020-03-06 08:21] mwilck commented on #304
Fine with me, but you may want to comment on the version numbering convention to use in the future (see #319).

[2020-03-06 08:37] elbenfreund commented on #319
First of all, thank you all for your great writeups and careful considerations in this issue so far. A lot of content went into this already and my reply is bound to miss some of the points raised above. Please feel free to point out missing answers and shortcommings. The following is simply meant as *my perspective*  and how I envisioned versioning at the time (and mostly still do).

# Versioning

[2020-03-06 08:43] elbenfreund commented on #304
Btw: Mail about the "please delete me" extension has been send. waiting for feedback.

[2020-03-06 09:43] benjaoming commented on #319
@elbenfreund

I don't really have the time to take this any further. I agree with your presumptions.

From experience, I would discourage having `master` and `develop`. You get the extra hassle of sync'ing stable stuff into `master` (which is often missed)  and frequently having to explain people the difference between the two and to re-target. Instead, you can just ensure that released stuff is a

[2020-03-06 09:44] matthijskooijman commented on #319
(edit: I wrote this before reading the previous two comments, but I think everything still applies)

I'm a bit late to the party, but I have some comments (just some observations, overall the plan seems perfect).

In practice, I think that us developers might be running newer versions of gnome-shell rather than older, so it seems likely that a fix is first introduced into `master` or one of the la

[2020-03-06 09:47] mwilck commented on #319
@elbenfreund,

I don't understand. Do you want the minor number to reflect GNOME shell compatibility, or not?

[2020-03-06 09:49] mwilck commented on #319
Ack. Actually, I'd go one step further and say that no branch is needed as long as the release doesn't require bug fixes. A tag would be sufficient.

[2020-03-06 09:49] elbenfreund commented on #319
I expressed this badly. A droped or added shell version leads to a new minor release, as it adds functionality. The ``version name`` however is not relate to the shell version.

[2020-03-06 09:53] benjaoming commented on #319
In this way, we only need to bump the minor release version when shell version support is _removed_. We always have the freedom to add more support in a patch release.

@mwilck

The intention of release branches is to be able to **maintain** older releases without the deprecation/removal frictions that are created from merging everything into the same branch. Being able to backport and do old patc

[2020-03-06 09:55] elbenfreund commented on #319
tl;dr: :+1:

I share those experiences, but thought people "expect" a master branch. If this works for you, just having a ``develop`` branch without the hassle of a "derived" ``master`` is preferable to me. "The latests stable release" can easily reference by a dedicated (moving) tag if one wants that...

:+1: I phrased that very badly. your description is perfectly fine with me.

As said before,

[2020-03-06 09:59] mwilck commented on #319
@benjaoming

Sure. I only wanted to say that the branch is only needed when such backports become necessary.

[2020-03-06 10:08] benjaoming commented on #319
Yes, well, two ways:

1. Create it on-demand: The option to target a previously unpatched release is only available to repository admins. Every release branch will require a communication "does anyone mind that I just create a new release branch?"
1. Create it immediately and by protocol: Risks creating a release branch that never receives commits.

[2020-03-06 10:09] mwilck commented on #319
@benjaoming, it would work either way, I don't mind.

[2020-03-06 10:11] elbenfreund commented on #319
@benjaoming @mwilck  I prefer (1) As it makes the temporary nature of such "maintenance release branches" clearer. After all, at some point, we will drop support for those old shell versions and can remove the branch, right?

[2020-03-06 10:17] mwilck commented on #319
@elbenfreund, I'd suggested (1) but as I said, I wouldn't mind (2), either.

I would vote against removing branches though. That would take away the option for volunteers to fork that branch and maintain compatibility for old versions. When we drop support, we could add a README saying saying "this branch is frozen and unmaintained" in a final commit, and/or possibly rename the branch to reflect i

[2020-03-06 10:22] elbenfreund commented on #319
Thats a valid use case. I suppose you can not "fork" a <tag>?

[2020-03-06 10:22] benjaoming commented on #319
Indeed @mwilck , a release branch should not be deleted, ~as that would permanently remove stuff that isn't merged anywhere else~ -- which would be sad. Edited: Tags ensure that a reference exists.

By following a strict naming scheme, the release branches won't clutter any views. Can be for instance `release/1.0.x` and `release/1.1.x`.

[2020-03-06 10:43] elbenfreund commented on #319
Are you sure about that? I just did a simplistic PoC on my local machine, and I can still access a tags history after removing the original branch.

[2020-03-06 11:43] mwilck commented on #319
Fair enough, but why would you want to do that?

[2020-03-06 11:47] elbenfreund commented on #319
I understood @benjaoming comment:

as, if he fears we would look the "legacy maintenance" backports if we remove the release branch once we no longer want to support the old shell version. That seems to be not the case.
As far as I understand, the whole reason for the branch is, so we can add commits (which of cause will trigger new "bugfix release" versions, which means tags). Once this need stop

[2020-03-06 12:13] mwilck commented on #319
As you like. It's not going to happen any time soon, will it?

[2020-03-06 12:22] elbenfreund commented on #319
I have honestly no idea about how many past shell version will need to be maintained in parallel.
But just to avoid misunderstandings: At the end of the day, you pick what works for you :)
I feel that we are on the same page on the big issues, so I am far from interfering with *your work*.

The issue of binding our self to shell version names by naming our minor releases the same is a far bigger r

[2020-03-06 12:29] benjaoming commented on #319
@elbenfreund you are right that the tag will remain, so sure thing, you could potentially delete a release branch at some point.

What was the point again? That at some point there would be too many release branches? Sure, maybe, I never tried it. Do you have this experience?

[2020-03-06 12:34] elbenfreund commented on #319
hehe. I guess its about semantics: in my model, branches are for doing things, tags are for referening a fixed status.

It depends, If we only create release branches when we need them for a separate "backport branch" I doubt this is much of an practical issue.
If we create a "release branch" for every release, I feel we are generating noise and miss out on one of the exact use cases tags are good

[2020-03-06 12:43] benjaoming commented on #319
Would it work, if we say that a release branch is to accommodate those things that are done for old releases?

I mean, if you don't have it, either contributors will think it's not possible to target changes for old releases, or they will have to target the wrong branch and then spend precious time writing about whether or not to have a branch for a patch release.

[2020-03-06 15:50] DirkHoffmann commented on #1
I think ede2e03 should have auto-closed this issue (contains `fixes #1`).
Objections?

[2020-03-06 15:59] elbenfreund commented on #304
Yuri Konotopov of EGO just got back to me. He will try to get in touch with "lukes" himself in order to see whats what.

We worked together before on deprecated extensions, so I am confident that he will help us out if "lukes" can not be reached in a reasonable timeframe.

[2020-03-06 16:36] jasuarez commented on #304
Do you mean to remove our extension forks and keep only this one?

Besides the upgrades for 3.32 and 3.34, I have other features that I need for my own usage (though I think they can be interesting for others too); I made PR some time ago, but probably it should be updated; and I'm working on a new one that I need.

As soon as I finish, I can create a new PR; if it is finally imerged, then I will

[2020-03-06 16:41] DirkHoffmann commented on #304
Thanks for your answer, @jasuarez. Yes, we meant that it is too confusing for users to have several extensions with the same name in EGO.

Good to hear that you want to contribute. But I do not see your request in the [PR list](https://github.com/projecthamster/hamster-shell-extension/pulls?q=is%3Apr+author%3A%40jasuarez). Can you specify what you mean, please?

[2020-03-06 16:42] elbenfreund commented on #304
@jasuarez
Thank you for getting back to us so fast. :)

We intend to avoid any confusion for regular users about what the "official" extension, supported by us, is. :)

Sounds interesting.

While your extension description leaves no doubt about the fact that this is a personal fork, would you be open to consider renaming your extension title in a way that avoids confusion with official extension?

[2020-03-06 17:53] jasuarez commented on #304
Because I just closed it :)

As I said, it has been there for a while, and I've been doing changes locally. So I think its better to provide a new MR, which I'll do as soon as I can

[2020-03-06 17:55] jasuarez commented on #304
Sure! Renamed it to "Colored Hamster Tracker"

[2020-03-06 18:06] DirkHoffmann commented on #304
Right. My fault. I should have looked [with the correct filter](https://github.com/projecthamster/hamster-shell-extension/pulls?q=is%3Apr+author%3Ajasuarez).

Eager to see your coloured hamster tracker.

[2020-03-07 05:02] hedayat commented on #320
Well, I don't think we need a repository per distro. And distro specific stuff will go into their on repos anyway (AFAIK, each distro has a source repo for its packages).

And IMHO, what is common for all distros should go into the main extension repo. No need for an extra repo.

Extension is no different from other projects, and I don't see any project has such repos. Also, even projects which do

[2020-03-07 07:57] matthijskooijman commented on #320
For Debian, it *is* customary to track the packaging in a VCS/git repo, but there is no mandated repo for this. Often these live on salsa.debian.org, but they can be anywhere the packager chooses.

Or maybe with "repo" you meant the package repository / package archive of Debian, e.g. where you can install packages from. This *is* a central place, but that tracks only complete (source and binary)

[2020-03-07 20:57] hedayat commented on #320
Thanks for your comments. I didn't know how debian works. hmm...from what I see, what I referred as 'repo' in Debian land is the FTP server you upload your package when ready.

Anyway, for Fedora it is really a git repo, with a branch for (almost) every fedora release. IMHO, it really doesn't make sense to keep such Fedora specific stuff somewhere else. There might be a not-so-much distro specific

[2020-03-09 08:49] mwilck commented on #320
For SUSE, packaging is tracked in the openSUSE build service. So we don't need any upstream packaging repos, either.

[2020-03-10 08:12] slaufmann commented on #313
In the meantime I am running gnome-shell version 3.34.4 on Debian bullseye. Since I wanted to make a small modification I installed the extension from source. I did built on commit 4295319e4a16472f6b8609901c06a753b0437125 and it still runs fine.

So I guess this could be closed then.

[2020-03-10 08:12] #313 closed, assigned to nobody

[2020-03-10 09:35] mwilck commented on #313
Thanks for the heads-up.

[2020-03-10 18:26] mordax7 commented on #321
If I try installing it via extensions.gnome.org I am getting an error...

[2020-03-10 19:56] mwilck commented on #321
E.G.O. is out of date. Please install from source, as described in [README.rst](https://github.com/projecthamster/hamster-shell-extension/blob/develop/README.rst). And if you want someone to fix it, please provide logs (`journalctl --user -b`) rather then just saying "I'm getting an error".

[2020-03-10 20:06] mordax7 commented on #321
[code]
I thought that the problem was known, therefore I was not posting any Error logs.

Would be nice to have it installed via the official extensions page.

[2020-03-10 21:37] mwilck commented on #321
Could you try the code from #316, please, [my master branch](https://github.com/mwilck/hamster-shell-extension)? It seems you were using sufiyan's version from E.G.O. I said already, it's outdated. If you must try E.G.O, please use @jasuarez' version, it's the one that's closest to our code here.

Sure. We're actively working on it. See #316. GNOME 3.36 support is currently the open question, thus

[2020-03-10 22:57] DirkHoffmann commented on #290
Thank you for your feedback, @redcatbear, and sorry for the delay in picking this up.
There are several ways to fix it. As far as I can see, 17d2bc7 addressed it successfully as well.

It was merged into the **develop** branch, but not **master**. @benjaoming, as you are the legitimate author, would you mind to create the PR (and that I assign this issue to you)?

[2020-03-10 22:58] DirkHoffmann commented on #321
Hello @xMordax,
First of all thanks for answering to this call. It is what is stated above: An open question to 3.36 users, if the present [latest version of code](/mwilck/hamster-shell-extension) (which works for 3.34 as far as we know) works on 3.36.
Hence it would help us, if you could make firm statements on both (3.36 and code from @mwilck's repository).

For your information (and that of oth

[2020-03-11 06:44] mordax7 commented on #321
Hey @mwilck @DirkHoffmann,

first of all, thanks for your responses. Yes I am using 3.36, when I try to install the @mwilck [fix](https://github.com/mwilck/hamster-shell-extension) I am getting the following error:
[code]
Any Idea why?

[2020-03-11 07:49] mwilck commented on #321
@xMordax,

Because you are using some other code, not mine.

    wget https://gitlab.gnome.org/GNOME/gnome-shell-extensions/raw/master /lib/convenience.js -O build/convenience.js

This is not code from my master branch. This code has been removed in two steps, first eea1424, and then 52dd4c1.

[2020-03-11 08:59] mordax7 commented on #321
@mwilck
Sorry about that, I made sure that I used your branch and was able to build it, but the installation failed with this error:
[code]
maybe as a side note, I am using Wayland.

[2020-03-11 09:14] mwilck commented on #321
Thanks, this looks much more helpful. The error message that matters is this:

     Error: Type name Gjs_widgets_ongoingFactEntry_OngoingFactEntry is already registered

I don't think Wayland matters here. It's yet another JS incompatibilty.

[2020-03-11 09:16] matthijskooijman commented on #321
Could the problem be that the older extension is still installed? If it is one from ego, it might have a different id so not be removed when installing this one? Just guessing here, though.

[2020-03-11 09:25] mwilck commented on #321
@matthijskooijman, good hint. @xMordax, please make sure you wipe the old extension(s) you had used, at least temporarily, and cleanly restart the GNOME shell.

[2020-03-11 09:29] DirkHoffmann commented on #321
Right. I am using wayland (and gnome-shell 3.34). It's without problems for me.

You mean it is an update in gnome-shell 3.36, which makes another update on our (hamster-extension) side necessary?

Good point! @xMordax, you may want to manually remove all hamster extensions from your `$HOME/.local/share/gnome-shell/extensions/` (eventually move them to another place rather than remove, but I guess

[2020-03-11 12:21] mordax7 commented on #321
@mwilck @DirkHoffmann
I removed all the relevant extensions rebooted my system installed as it is described in the README and rebooted once more, this is what I get in the logs:
[code]

[2020-03-11 13:40] mwilck commented on #321
This seems to affect [other extensions](https://github.com/gTile/gTile/issues/117), too.

[2020-03-11 13:58] mwilck commented on #321
@xMordax, this is just a shot in the dark, but could you try replacing

    layout_manager: new Clutter.TableLayout(),

with

    layout_manager: new Clutter.TableLayout({}),

in` todaysFactsWidget.js`? (i.e. insert an empty hash as argument)?

[2020-03-11 16:26] mordax7 commented on #321
@mwilck I did the change and tried to disable and enable the extension and get the following error:
[code]

[2020-03-11 20:00] mwilck commented on #321
* [Clutter.TableLayout is deprecated](https://gitlab.gnome.org/GNOME/gnome-shell/-/merge_requests/808/diffs?commit_id=0749ac27ce3bed40c6311dea66b5ea8b4af44165), use GridLayout instead

[2020-03-11 21:06] mwilck commented on #321
`Clutter.TableLayout` has been depecated. But there's more on the table. I'm on it, updated to GNOME shell 3.35.92 now. This will take time.

It seems that this version of the shell **deletes** an extension that causes an error from disk. Nice.

[2020-03-11 21:24] mwilck commented on #321
I seem to have fixed two minor issues, so that now I don't observe any error messages from GNOME shell 3.36 regarding the hamster extension any more. I can actually see "no activity" showing up for a moment on the panel. Than it vanishes, and in the log I see only "Shutting down hamster-shell-extension.". After that, my extension directory is **wiped from disk**. WTH.

[2020-03-11 21:26] mwilck commented on #321
Stack:

      disable@/home/mwilck/.local/share/gnome-shell/extensions/contact@projecthamster.o>
     _callExtensionDisable@resource:///org/gnome/shell/ui/extensionSystem.js:107:32
     unloadExtension@resource:///org/gnome/shell/ui/extensionSystem.js:325:14
     uninstallExtension@resource:///org/gnome/shell/ui/extensionDownloader.js:55:32
     checkForUpdates/<@resource:///org/gnome/shell/ui/ext

[2020-03-11 21:36] mwilck commented on #321
It looks as if the GNOME shell checks https://extensions.gnome.org/extension-info and obtains the info that `contact@projecthamster.org` is blacklisted.

[2020-03-11 22:26] mwilck commented on #321
@elbenfreund, have you done something to set our extension to "blacklisted" on extensions.gnome.org?  I just tried to change the UUID from `contact@projecthamster.org` to something else and whoa, it works!

[2020-03-11 23:33] mordax7 commented on #321
@mwilck can you tell how to change the UUID to get it working? I am getting the same error also after renaming the directory after the uuid configuration in the metadata.json.

[2020-03-11 23:41] mwilck commented on #321
@xMordax , please check out #323. Note the special instructions.

[2020-03-11 23:50] mwilck commented on #321
Check out #323. Changing the UUID is not all you need to do. In #323, I changed the Makefile to make it possible to change the UUID. I used `extension@projecthamster.org`, and it works fine.
Note this is still work in progress, I used gnome-shell-3.35.92. Your feedback would be very welcome.

[2020-03-12 10:59] mwilck commented on #321
The GNOME shell code that's responsible for auto-disabling and deleting the extension `contact@projecthamster.org` is in [extensionDownloader.js:checkForUpdates()](https://gitlab.gnome.org/GNOME/gnome-shell/-/blob/master/js/ui/extensionDownloader.js#L119). It sends a message to the https://extensions.gnome.org/extension-info/ including the GNOME shell version, JSON metadata of installed extensions

[2020-03-12 11:22] matthijskooijman commented on #321
Given that you send the gnome-shell version, maybe the online service only returns blacklist for 3.36? If so, then maybe this code is somehow tied in with automated feedback from users? E.g. they can push an extension to users on a newer gnome-shell than is reported supported and when they get errors or problem reports back, the extension is blacklisted or something? It's a bit of a bummer that th

[2020-03-12 11:51] matthijskooijman commented on #321
Looking at the client code, that has been in place for 7 years and the discussion about it focuses about the code and updates, so no clue what the blacklist is for: https://bugzilla.gnome.org/show_bug.cgi?id=679099

It actually sends to https://extensions.gnome.org/update-info/ it seems?

The code for that endpoint is here: https://gitlab.gnome.org/Infrastructure/extensions-web/-/blob/master/sweet

[2020-03-12 12:06] mwilck commented on #321
I played with the versions first, no success. Then I changed the UUID, immediate success.

the question being  *feedback towards WHAT?*, as no extension with the `contact@projecthamster.org` UUID appears to exist on E.G.O. currently.

Indeed. The first half-a-dozen times my extension dir had been wiped I thought I was dreaming.

Right, copy-n-paste mistake. Thanks for spotting it.

Thanks for figu

[2020-03-12 12:10] mwilck commented on #321
Well, it [is public now](https://www.gnome.org/news/2020/03/gnome-3-36-released/). We don't have it in openSUSE yet though, as I said I was using 3.35.96. Perhaps that explains it, no idea. I'll retest when 3.36 hits openSUSE repos, shouldn't be long any more.

[2020-03-12 12:39] matthijskooijman commented on #321
Hm, that might be relevant. If the extension exists, but it has no version at all, then that might be the one corner case the triggers `disable_version_validation` to return None, though that would also mean the version passed is unknown and should be skipped, as I mentioned already.

I tried getting info about the extension through the ajax API, but this failed (https://extensions.gnome.org/exten

[2020-03-12 13:32] mwilck commented on #321
But `extension@projecthamster.org`, as well as totally random UUID, works.

Have you found an email address or other possible way to contact the maintainers of the E.G.O. data base and figure it out? I have not, so far.

AFAIK this requires recompiling GNOME shell, so far I shied away from that. `strace` doesn't work because it's https.

Wow, cool. I tried to do this, but I couldn't  figure it out

[2020-03-12 22:54] DirkHoffmann commented on #304
Hi @elbenfreund,
There are questions on #321 about the status of this cleanup. There are still four extensions on EGO, one of them being @jasuarez's, which may stay there. But the most obvious to be removed is also still there. Do you think this will progress some time soon?
There was also a question how to contact EGO maintainers.
Can you help?

[2020-03-13 09:28] mordax7 commented on #321
@mwilck I checked out your branch and followed the instructions and it works on Arch GNOME 3.36 with Wayland...

[2020-03-13 11:16] mwilck commented on #321
@xMordax , thanks a lot for the feedback. Stay, tuned, we'll continue looking into the "blacklilst" issue.

[2020-03-13 11:41] mwilck commented on #321
I updated to GNOME shell 3.36.0 now, and I'm still seeing the same issue with the extension being auto-blacklisted and removed. So using 3.35.96 was not the reason.

[2020-03-13 11:49] mwilck commented on #321
@matthijskooijman,

No, I hadn't changed the version of the extension. But I just tried now (set it to 3.36), and it makes no difference, the extension is still auto-blacklisted.

Typical logs look like this:

with no visible error messages from the extension before this.

[2020-03-13 12:04] matthijskooijman opened #324 "Extensions.gnome.org "blacklists" contact@projecthamster.org UUID"
This relates to #304 but concerns a specific issue: When gnome-shell asks for update info on the extension, e.g.o seems to return "blacklist", which causes gnome-shell to uninstall the extension.

It is not entirely clear why this happens, or what this mechanism is intended for, but investigation of the e.g.o source code suggests that there is no explicit blacklist that triggers this, but instead

[2020-03-13 12:05] matthijskooijman commented on #321
@mwilck I just opened #324, lets move the blacklist discussion there to prevent further clutter of this issue :-)

[2020-03-13 12:11] matthijskooijman commented on #324
Extra weird, if the version is not known by e.g.o, it should also skip it entirely.

However, it seems that the "Version" sent to e.g.o is actually a single integer, not a 3.36-style version number. Is there such a number you could also change?

[2020-03-13 12:17] mwilck commented on #324
AFAICS all these are strings. Btw I had a "mental typo", I'd set the version in metadata.json to "0.36.0". Looking at the [code](https://gitlab.gnome.org/Infrastructure/extensions-web/-/blob/master/sweettooth/extensions/views.py#L127), this would throw an exception and set `version = 1`.

[2020-03-13 12:20] mwilck commented on #324
Hooray that was it!! With the settings below, it works! :+1:

    "uuid": "contact@projecthamster.org",
    "version": "36"

[2020-03-13 12:30] mwilck commented on #324
Apparently the version needs to be set to at least "3". With "2" I get the same failure.

[2020-03-13 13:12] mwilck commented on #324
If I read the Django code correctly, the call to `grab_proper_extension_version()` (which may return `None` and cause the "blacklist" status) is skipped if we provide a *extension* version (integer !) which isn't in the data base yet. The *extension version* is apparently not parsed from the input `metadata.json`, but simply incremented each time the extension is saved.

As you already figured out

[2020-03-13 13:13] mwilck commented on #324
I haven't found any documentation specifying that the "version" field needs to be an integer. But reading the code, it's of course obvious.

[2020-03-13 13:29] matthijskooijman commented on #324
Hm, what does that mean for our branches and versioning plan in #319? The update check does seem to assume a linear history of these version numbers, so a higher build number means a higher version, so if we just number releases incrementally, releasing an update for an older shell version would get a higher version. If the compatible version list is truncated on the top, this could still work (si

[2020-03-13 13:44] benjaoming commented on #324
I like that proposal, but is the version maintained elsewhere? Maybe best to maintain a version string that's derived from some kind of single source of truth? I don't mind maintaining version strings in code, I think that's great, but if this conversion rule has to be maintained as well, it would be a kind trip wire for a stressed release maintainer.

[2020-03-13 16:55] mwilck commented on #324
If I read the code of the GNOME web service correctly, the version number we set doesn't matter for extensions.gnome.org at all. `self.version` on `ExtensionVersion` objects is never set from the meta data. The only place where it's set is in the `save()` method, which sets it to `self.extension.versions.latest().version + 1` ([code](https://gitlab.gnome.org/Infrastructure/extensions-web/-/blob/ma

[2020-03-13 17:23] matthijskooijman commented on #324
I'm not sure this is limited to local installs. If we release an update for an older shell version, we also want to upload that to e.g.o and we don't want that update to be used in favor of higher versions.

E.g., if we have:
 - 0.30.1 for shell versions 3.30-3.34 with version=10
 - 0.34.0 for shell versions 3.34-3.36 with version=11 (we added support for 3.36 but that broke 3.30 and 3.32)
 - rele

[2020-03-13 20:19] mwilck commented on #324
@matthijskooijman:

Firstly, unlike the "blacklist" case (*), this wouldn't happen silently. Rather, the user would receive a "Extension Updates Available" notification, which would open the "Extensions" tool when clicked.
I haven't tried, but I think in this case the tool would tell the user that she was about to "update" to an incompatible version of the extension.

Secondly, this can only happe

[2020-03-13 20:26] mwilck commented on #324
The question is where to use them. We can't use them in `metadata.json`. We'd need to track an extra version field. Not sure if that's worth it.

Well, we could manually download the E.G.O. packages once they're public, extract the version number, and create a special tag for our own reference (e.g. `ego:17`).

As we've learned now, that's pretty obviously wrong. The others, like us, just don't kn

[2020-03-13 20:31] matthijskooijman commented on #324
I haven't tried, but I think in this case the tool would tell the user that she was about to "update" to an incompatible version of the extension.

If I read the code correctly, if the extension version is not compatible with the shell version, it won't be considered for a possible upgrade. I just noticed that I mislabeled a version in my previous post (wrote 0.36.0 where I meant 0.34.0, since tha

[2020-03-13 21:08] mwilck commented on #324
~~You're right.~~ *(Update:)* I thought so first, but not quite. That code is difficult to read :nerd_face: . IIUC the algorithm does the following:

 1) If the user's shell version is unknown to the web API, goto 4.
 2) If no visible version of the extension supports the user's shell version, goto 4.
 3) Return the highest version of the extension that supports the user's shell version.
 4) if `d

[2020-03-13 21:33] mwilck commented on #324
@matthijskooijman,

Have you found examples? That might be useful for a GNOME bug report.

Meanwhile, [this comment](https://gitlab.gnome.org/Infrastructure/extensions-web/-/blob/master/sweettooth/extensions/views.py#L130) makes me think that we probably shouldn't have set the `version` field at all.

[2020-03-13 21:48] mwilck commented on #324
I've [reported this to GNOME now](https://gitlab.gnome.org/Infrastructure/extensions-web/issues/102).

[2020-03-14 12:10] hedayat commented on #290
Well, it is too late to say my opinion, but I wonder why the first solution was not preferred? It was always a mystery for me why the extension is packaged like that. I think it was much better if it was already packaged inside the required directory.

[2020-03-14 12:56] DirkHoffmann commented on #290
It's not too late. The main constraint that I see is that the ZIP archive needs a "rootless" structure, which does not contain the extension UUID. That's GNOME's choice, and we cannot change it.
Then, we have the TAR file. (I actually wonder why, besides the fact that it's "more unix-like".) We _could_ have a different structure (with UUID as root directory) in the TAR file than in the ZIP file. B

[2020-03-14 22:30] mwilck commented on #324
@matthijskooijman and fellow @projecthamster/gnome-shell-extension maintainers, if you find time, please look at the GNOME issue. The GNOME devs say it "works as designed". Not that I expected much else, but some support in the discussion might still be helpful.

Sp far I've learned two things:

 * The `version` field [is reserved for e.g.o. versioning only](https://gitlab.gnome.org/Infrastructure

[2020-03-14 22:39] mwilck commented on #290
@hedayat, I agree, but please let's not change this before the GNOME 3.3x support PRs have been merged. Fixing this is trivial, but if it's done and merged now, I'll have to rebase all 3 PRs #312, #316, and #323. I already did for #310.

[2020-03-15 14:01] matthijskooijman commented on #324
I posted to the gnome issue before, but seeing [they already had an issue about this](https://gitlab.gnome.org/Infrastructure/extensions-web/issues/95) predating ours, I expect this will be fixed on their end some way or another. The take away for us is to leave the version field empty, so maybe we can put some meaningful version number in the extension description or something like that.

[2020-03-15 18:57] hedayat commented on #290
@mwilck Yeah, I'm not in hurry :)

 @DirkHoffmann  Oh, I didn't know about the ZIP structure. If so, well, I'm not sure. ZIP is OK probably because it is designed to be used automatically. But for manual installation (tar?) I'd prefer having the UUID part too.

[2020-03-17 17:15] marcbria opened #326 "Error on ubuntu 19.10"
Hi,
Looks like is failing on ubuntu 19.10 that packages gnome-extensions 3.34.1.

**How to reproduce the error:**
1) Install a clean ubuntu 19.10
2) Install hamster (snap version)
3) Go to the "[Central Extension Repository](https://extensions.gnome.org/extension/425/project-hamster-extension)"
4) Click on the slider to enable the extension.
5) See the error.

**Error**

[code]

[2020-03-17 17:19] mwilck commented on #326
Please attach the full "journalctl --user" output. Which version of the extension have you used? You need to get the sources from #316 or #323, and install the extension locally.

[2020-03-18 11:51] marcbria commented on #326
Hi mwilck,

I didn't know I need to install it from sources... so I though enabling it from Central Extension Repository was enoght, so I installed the version published by elbenfreund in, that is a 3.20:
https://extensions.gnome.org/extension/425/project-hamster-extension

Here it is the "jounralctl --user" output from the last hour (the full one started on month ago and is hudge):

[code]

I wil

[2020-03-18 14:30] mwilck commented on #326
No, it's not enough.

Grab [my GNOME 3.36 branch](https://github.com/mwilck/hamster-shell-extension/archive/GNOME-3.36.zip), unpack it, and follow the instructions in README.rst under "Manual Installation For Testing and Development" (no need to run `git clone` or `git checkout` any more if you grabbed the zip file though).

[2020-03-18 14:38] matthijskooijman commented on #326
For clarity: The plan is to make the extension on extensions.gnome.org again up-to-date and sufficient, but we're starting up development again after a long hiatus, so we're not there yet. In the meanwhile, testing using local installs is helpful!

[2020-03-18 14:47] mwilck commented on #326
@matthijskooijman, I wonder if we could add a sticky note to our repo telling users that it makes no sense to test the stuff from e.g.o with late GNOME versions currently and that we're actively working on it, and providing instructions for installing / testing the ~~test releases~~ code from the PRs waiting to be merged.

[2020-03-18 15:36] matthijskooijman commented on #326
I think you can mark issues as sticky (or pin them, dunno how it's called), that might be useful?

[2020-03-18 15:41] mwilck opened #327 "hamster-shell-extension for GNOME shell 3.20 and later"
## hamster-shell-extension on extensions.gnome.org is outdated

The official version of hamster-shell-extension on [extensions.gnome.org](https://extensions.gnome.org) (e.g.o) is **outdated** and will not work with any recent GNOME version (it supports GNOME up to 3.20). This can't be fixed easily. For now, please use the manual installation from git.

## Where to find hamster-shell-extension for

[2020-03-18 15:42] mwilck commented on #326
I just created a sticky note (#327), please check it out.

[2020-03-19 09:40] marcbria commented on #326
Thanks for the explanation. Hamster is one of my favorite programs ever and I love to help but I don't know python and gnome-shell and all this sounds like vudu for me... so please, be patien. :-)

Despite that, I can follow instructions (the README file is very clear).
But during the process I got errors:

[code]

As said, I don't know python but some missing chains don't look like a real issue s

[2020-03-19 10:01] mwilck commented on #326
Please help us understand your issue better by using  English error messages. Run `export LC_MESSAGES=C" before running any other commands.

Don't worry about python, the respective parts of the README are misleading, unfortunately. The python-related setup steps are only necessary for setting up hamster itself, not for the GNOME extension, and I believe you already have hamster running.

It seems

[2020-03-19 10:12] marcbria commented on #326
Sure, sorry for this:

[code]
Adding "gettext" package was enough to fix the error with langs:
`$ sudo apt install gettext`

Maybe would be nice to mention this in the README.

About the issue, the extension is still not shown in gnome-extensions-local or in tweak tools.

![imagen](https://user-images.githubusercontent.com/2779168/77056336-8e51de00-69d2-11ea-808a-f419930eaf9e.png)

Cheers,
m.

[2020-03-19 10:49] mwilck commented on #326
You need to create a directory `contact@projecthamster.org` under `$HOME/.local/gnome-shell/extensions` and unpack the generated zip (or tar.gz, you choose) there. Only then will the extension be visible.

Please provide `journalctl --user` output.

[2020-03-19 10:56] marcbria commented on #326
I did it (3 times now :-)) but it never shows...

I follow your README instructions step by step:
[code]

Here you have teh journalctl output of the last hour:

[code]

[2020-03-19 10:57] marcbria commented on #326
I forget to mention that I installed hamster app/service from snap (just in case it could be related).

[2020-03-19 11:13] mwilck commented on #326
Have you restarted the GNOME shell? You have to log in / out, or restart (Alt-F2, then type "r" into the popup window). Restart doesn't work under wayland.

[2020-03-19 11:21] marcbria commented on #326
Thanks for the tip. Alt-F2 + r worked like a charm.

Now the extension is shown in the list but when enabled, does not appear in the panel.

Here you have the journalctl output:

[code]

[2020-03-19 13:40] mwilck commented on #326
Big step forward. The extension starts. Now you seem to have a problem with the autostart of the hamster-windows-service.  Normally the extension should be able to start the hamster DBus service automatically. Now it looks as if your snap package was having an issue.

Try firing up the program "d-feet", select the Session Bus at the top, and type "hams" in the search window. You should see `org.gn

[2020-03-19 13:44] marcbria commented on #326
What if I install the regular version instead of snap one?
(or you want me to go with the snap to test this scenario)

[2020-03-19 14:13] mwilck commented on #326
Try it. In theory it shouldn't matter, but the error message I quoted above points toward a problem with hamster itself.

[2020-03-19 14:14] mwilck commented on #326
@extraymond should be able to comment on the snap package. That's not my area of expertise.

[2020-03-19 14:19] extraymond commented on #326
@marcbria
About the snap version, if the hamster-service is started, external applications should be able to interact with it on the dbus path.

![Screenshot from 2020-03-19 22-18-08](https://user-images.githubusercontent.com/707176/77076975-8c6a3800-6a2f-11ea-86ae-f70a686914ef.png)

Screenshot is d-feet(non-snap app) inspecting interfaces of hamster.

[2020-03-19 14:35] mwilck commented on #326
@extraymond , does that mean auto-activation of the service doesn't work with snap?

[2020-03-19 14:46] extraymond commented on #326
That's right. At the moment all snap's will behave this way, because snap's is still too strict about allowing external services to launch user session dbus-services. [snap related discussion](https://forum.snapcraft.io/t/need-help-dbus-activation-for-project-hamster-snap/11885)

So in order to launch the snap, currently the launcher will manually wake up the dbus service before the GUI client. Fo

[2020-03-19 15:03] mwilck commented on #326
That's a problem for the extension, because the extension is started right after login, and by that time, the hamster-windows-service won't be started yet *(Edit: I'm not certain about that)*, even if you create an autostart file to do that (if that's possible with snap, I don't know).

The extension gives up after failing to start the DBus service. Even if the service becomes available later, the

[2020-03-19 15:06] mwilck commented on #326
This is worth a separate issue.

@marcbria, please report if manually starting hamster and `Alt-F2 - r` "fixes" the issue for you. We'll need to discuss the general problem with the snap package separately.

[2020-03-19 15:06] extraymond commented on #326
Thanks for the info, that sounds really bad. So either the extension have to start hamster service manually, or it would need to have some delay after it can detect the snap has started.

[2020-03-19 15:09] mwilck commented on #326
@extraymond, in the discussion you linked someone said that autostart *does* work. So that might be worth a try. I honestly don't know  if autostart will be "soon enough" - at worst it might cause timing issues, and work sometimes, sometimes not. Anyway, it would open the possiblity to implement a poor man's workaround by simply waiting a few seconds in the extension.

[2020-03-19 15:17] extraymond commented on #326
Autostart works either via snap itself or putting it in the xdg autostart directory. But you are correct that it might not be soon enough for the extension to pick it up.

Another option I can think of,is that since the extension is unconfined, which can launch the snap, maybe it would make more sense to let the extension launch hamster on first run, therefore the extension will always be launched

[2020-03-19 15:20] mwilck opened #328 "hamster shell extension doesn't work with hamster snap package"
Forked off the discussion between @extraymond and myself on #326. See [this comment](https://github.com/projecthamster/hamster-shell-extension/issues/326#issuecomment-601214219) and below.

Snap-packaged software doesn't support DBus activation for security reasons ([discussion on snapcraft forum](https://forum.snapcraft.io/t/need-help-dbus-activation-for-project-hamster-snap/11885)).

That's a pr

[2020-03-19 15:23] mwilck commented on #326
Honestly, I don't like that idea. DBus service activation is nice and clean. Replacing this with an executable forked and exec'd from a shell extension sounds ugly to me.

Anyway I've forked #328 now.

[2020-03-19 15:28] matthijskooijman commented on #328
This sounds like it will be fixed in snap at some point, which also seems the right place to fix this.

However, what might make sense is to let the extension monitor dbus to see if the hamster endpoint (or whatever the terminology is) becomes available later. I suspect that dbus has some kind of "Send me an event when this name becomes available later" interface that we could use for this? This m

[2020-03-19 15:29] extraymond commented on #328
Thanks for the outline, the current situation is indeed not ideal for snap, I'll continue looking for improvements if that's possible without changing how hamster works typically.

[2020-03-19 15:35] mwilck commented on #328
Well, I guess we need to avoid the initial extension enablement to fail, and find some way to place the extension on the GNOME panel at a later time when the the DBus service is found and the extension has the chance to become functional. But I lack the knowledge of GNOME shell internals to fix that on a reasonable time scale. Perhaps someone else?

[2020-03-20 09:56] marcbria commented on #326
sorry, but I get lost in the DBus discussion.
Rolling back to the last post I understand, yes? ;-)
https://github.com/projecthamster/hamster-shell-extension/issues/326#issuecomment-601184354

About the request of reporting in a different issue... What do you want me to report?
I mean... this thread is about problems installing in ubuntu 19.10 and we are still there, isn't it?
https://github.com/pr

[2020-03-20 10:50] extraymond commented on #326
@marcbria

In summary:
1. Currently, snaps can't use dbus-activation to activate program if the dbus path is called
2. gnome-shel-extension need the dbus-service to operate
3. So here are the options we're describing:
- a. either the snap based hamster service to autostart before the gnome-shell extension
- b. or you let the gnome-shell extension to invoke the service if it's not up.
- c. or hiber

[2020-03-20 11:27] mwilck commented on #326
Guys, don't expect a solution on the exension side soon. We're currently working on getting the support for recent GNOME versions merged. After that, we'll be willing to take patches, but I don't think we'll actively work on this in the near future. At least I have different priorities, both with the extension and otherwise.

I don't want to reject or disappoint anyone,  I just want to avoid raisi

[2020-03-20 15:07] marcbria commented on #326
Ok... so we just need to avoid snap.
It's not a big deal if, at the end (when the app is tested enough), you can deliver DEB and RPM (that are the most common) and the rest can complie from the sources.

Today I need to focus in work. I will try to test your suggestion during the weekend or on Monday.

Thanks a lot for your time,
m.

[2020-03-24 00:53] DirkHoffmann commented on #304
Three weeks are almost gone. Do you think it is worth retriggering the admin?

For the records, I contacted @MuhammadSufiyan by email tonight.

[2020-03-24 00:55] DirkHoffmann commented on #304
FTR, answer was given on #304.

[2020-04-15 09:28] JanezStupar opened #329 "Fact entry doesn't work properly with Project Hamster 2.2.2 - tracking doesn't start"
Gnome 3.36, using the branch `https://github.com/mwilck/hamster-shell-extension/tree/GNOME-3.36`

Project Hamster verison 2.2.2.

Entering facts or clicking `play` button doesn't start the tracking. The issue seems to be that the extension is sending a `0` as start time - which Hamster version 2.2.2. rejects.

Since I haven't seen any reports about this elsewhere it may be an issue on my end, but

[2020-04-15 20:29] mwilck commented on #329
Hm, I'm also using hamster 2.2.2 with the same branch of the extension, and it works nicely. I suppose there's really something special on your end.

[2020-04-25 15:07] rhertzog commented on #321
FTR, the extension as present in mwilck/GNOME-3.36 is working fine for me in GNOME 3.36 in Debian Unstable. Thanks for your work on this!

[2020-04-27 11:09] benjaoming commented on #290
This was fixed in https://github.com/projecthamster/hamster-shell-extension/pull/310 ?

[2020-04-28 15:21] mwilck commented on #327
Updated the table above after the recent merges.

[2020-04-30 21:44] mwilck commented on #327
Updated the table after 3.36 merge.

[2020-04-30 21:51] mwilck commented on #327
Removed the link to `gnome-shell-3.34`, as the 3.36 version runs fine on 3.34, too.

[2020-04-30 21:52] mwilck commented on #321
Fixed with the merge of #323.

[2020-04-30 21:52] #321 closed, assigned to nobody

[2020-04-30 21:53] mwilck commented on #301
@DirkHoffmann, IIUC this is fixed? Please confirm and close.

[2020-04-30 21:56] mwilck commented on #295
I believe this issue should be fixed in [gnome-shell-3.30](https://github.com/projecthamster/hamster-shell-extension/releases/tag/gnome-shell-3.30). Please confirm and close.

[2020-04-30 22:00] mwilck commented on #289
@karolszk, I see no indication in your log that the hamster extension is faulty.

@DirkHoffmann, perhaps we should set a target date at which we close this, unless evidence is provided that this problem persists.

[2020-04-30 22:02] mwilck commented on #288
Please test with `gnome-shell-3.28` or one of the later code bases matching your GNOME version (see https://github.com/projecthamster/hamster-shell-extension/tags).

[2020-05-01 09:56] jacek-pliszka commented on #295
Works for me on Fedora 31 GNOME 3.34

[2020-05-01 14:06] DirkHoffmann commented on #290
My 2 cents on this:

1. Instructions have been updated (i.e. corrected) in #310. :+1:
2. The TAR may contain the path, the ZIP must not. If we add the UUID directory to the path, this breaks compatibility and #310 has to be reverted. In the transition, we might have two different methods/instructions, depending on the branches / shell versions. :-1:
3. TAR and ZIP are redundant technologies for th

[2020-05-01 15:03] mwilck commented on #290
I like the idea of having the UUID in the tar, and adhering to the GNOME standard in the zip. Yes, generating both tar and zip is redundant, but does it hurt anyone?

[2020-05-01 16:52] karolszk commented on #289
Hi @mwilck ok, so probably this is  gnome-shell errors.

[2020-05-02 10:49] DirkHoffmann commented on #289
You are right. In this case I will even go faster, as there are many implicit deadlines passed.
Issue reported 2018 – one negative, two positive feedbacks, no activity for 2 years – catchup March 2nd, one feedback, no evidence for a persisting bug for 2 months – and your reminder, @mwilck. (Thank you!)
There is no point keeping it open.

[2020-05-02 10:49] #289 closed, assigned to DirkHoffmann

[2020-05-02 10:57] DirkHoffmann commented on #290
Does not hurt, but confuses.
But with the path included, they have two different purposes. No strong objection from my side.

If anybody feels that it is an error to close this, please reopen.

[2020-05-02 10:57] #290 closed, assigned to benjaoming, DirkHoffmann

[2020-05-02 11:04] DirkHoffmann commented on #301
Yes, there were many duplicate and redundant issues for gnome-shell > 3.28, and we lost slightly track. I do not the check the relationships and history exactly. But as this was oriniginally reported by me, I take the freedom to close it (satisfied).

[2020-05-02 11:04] #301 closed, assigned to DirkHoffmann, mwilck

[2020-05-02 11:15] DirkHoffmann commented on #288
@jmberg, @chama-chomo, are you still on **fedora28**? Solutions are reported to work on **fedora30** and **fedora31**. So we would like to close this within two weeks, unless needed otherwise.

Are two weeks for feedback also OK for you, @mgoppold?
Anyway, issues can be re-opened.

[2020-05-02 17:29] jmberg commented on #288
I'm on 31 now. I was on 29 far too long/late due to some work packages, but never much on 28, IIRC. Certainly not now.

Actually, it doesn't crash for me these days. I vaguely remember something in this area but I'd have to dig. Right now I'm on gnome 3.34.4 and hamster-extension 3c320e9d73ac.

[2020-05-02 17:30] jmberg commented on #288
I have a vague feeling it might somehow have been related to " factsBox: use GObject.registerClass()" or such, but TBH I really don't know right now. I'll try to dig out more later, if I can.

[2020-05-02 17:44] chama-chomo commented on #288
Hi, I'm not with Fedora and even Hamster anymore. Good to hear you were able to fix it, though.

[2020-05-02 21:49] DirkHoffmann commented on #288
Thank you very much for your quick feedback, @jmberg, @chama-chomo!
I just noticed I forgot to "ring" @wolffi (same request for feedback, please).

[2020-05-03 07:09] matthijskooijman commented on #290
One additional datapoint: A reason to have a top-level directory in a tar file, is that it is conventional to do so. Software released in tarballs almost always do this, so I'm coming to expect that I can unpack a tarball without having to create a directory first.

For zips, I think think the convention is more often to not have a top-level directory.

One other angle would be to report a feature

[2020-05-03 18:59] hedayat commented on #290
First, note that there is also #330 and it will change installation instructions anyway.

I'm not opposed to keeping tar output, but I myself wouldn't care much about it if a proper install target exists for make. Also, the zip file might be somehow designated that it is not suitable for manual usage, and it is only provided to be used by gnome shell tools/distribution. Or, it should not be genera

[2020-05-03 22:26] DirkHoffmann commented on #290
Thank you, @hedayat. Let's follow up on #330 then.

[2020-05-07 23:20] salim-b commented on #328
I'm on Ubuntu 20.04. I've installed the [Hamster Snap package](https://snapcraft.io/hamster-snap), ran the necessary `snap connect hamster-snap:system-observe` and opened the Hamster GUI running `hamster-snap`. But after restarting GNOME Shell with <kbd>Alt</kbd>+<kbd>F2</kbd> -> `r`, issueing `journalctl --user | grep hamster` still gives me:

[code]

Can I start the DBus service manually somehow

[2020-05-08 08:53] mwilck commented on #328
Perhaps it might have worked better with hamster 2.2.2. In hamster 3.0.x, the code behind the `hamster-windows-service` DBus API has been removed and replaced by invocations of the `hamster` CLI, which behaves strangely and doesn't have the same functionality as before. See [hamster #563](https://github.com/projecthamster/hamster/issues/563). With 2.2.2, you could have started `hamster-windows-ser

[2020-05-10 22:53] salim-b commented on #328
Thanks for your response!

I briefly skimmed https://github.com/projecthamster/hamster/issues/574 and gained an idea of how the current situation of incompatibility between hamster core and GNOME Shell extension could arise... 🙈

Anyway, to get to the point:

Even if I keep the Hamster GUI open all the time, i.e. incl. restart of the GNOME Shell (what I already did the last time IIRC, but to be su

[2020-05-11 10:39] mwilck commented on #328
I don't think it that this is related to the version of the shell extension. It's most probably rather a limitation of snap, as explained in the initial comment of this issue.

[2020-05-11 10:40] mwilck commented on #328
Perhaps someone should try to create a native Debian/Ubuntu package. It can't be that difficult. But I'm not into Debian packaging, so I can't really judge it.

[2020-05-13 18:43] matthijskooijman commented on #320
For Debian, I think I'll prefer to put things on salsa.debian.org, a bit closer to Debian than upstream. I pushed some work-in-progress for the main application to https://salsa.debian.org/projecthamster-team/hamster-time-tracker

[2020-08-07 19:59] rhertzog commented on #320
I can help for the Debian packaging (and for the upload to Debian, I'm a DD), in fact I created a package today without noticing that you already had some packaging on salsa... I requested access, please grant me maintainer level access on the projecthamster team. I'm "hertzog" on salsa.debian.org.

[2020-08-28 09:20] rhertzog commented on #286
Personally I use "Super + T" with T for "Time Tracking". When you use a time tracker, you have to call it frequently, it's best to have an easy to type shortcut.

[2020-08-28 09:29] rhertzog commented on #322
I agree with most of the things proposed by @elbenfreund here but I would not require signed commits. It makes it cumbersome to have to explain to external contributors how to setup a GPG key, etc.

As for pull requests and review required, we can try it but I believe some middle ground is fine too, i.e. require pull request but let the PR submitter merge its own PR if nobody reviewed it within 14

[2020-08-28 10:21] rhertzog opened #334 "Starting tracker with single-comma delimited description doesn't work (with hamster 3.0.2)"
With hamster 3.0.2, if you type `Activity@Category, task description` in the shell extension, nothing happens. To get it to actually start, you need to type `Activity@Category,, task description`. This is likely related to the breaking change made in hamster that now requires two commas to separate descriptions:
https://github.com/projecthamster/hamster/commit/42d3c053d4330df480091c40e9ebb8280ce25

[2020-08-28 12:31] rhertzog commented on #319
I have skimmed through the discussion but I would not have expected so much discussion on this topic. I'm fine with the proposals. But most shell extensions that I have seen just have a single branch that's supposed to work with the latest GNOME release (while trying to keep backwards compat to some level) and when you get something that works for the given release you put out a tag corresponding

[2020-09-05 08:31] ederag commented on #328
@mwilck

`hamster-windows-service` stayed there, and should be fully compatible, even in 3.x.
See https://github.com/projecthamster/hamster/pull/573#issuecomment-630147429:

---

@salim-b

Too "briefly skimmed"...
I was **dedicated to keeping compatibility** between core and extensions,
and even tried repeatedly to install the extension [[last try](https://github.com/projecthamster/hamster-shell-e

[2020-09-05 11:55] salim-b commented on #328
Yeah, I meanwhile realized that v3 and all the development-internal conflicts around it weren't the cause of the incompatibility per se but rather some [shortcomings specific to the Snap version of Hamster v3](https://forum.snapcraft.io/t/need-help-dbus-activation-for-project-hamster-snap/11885) as @mwilck [indicated](https://github.com/projecthamster/hamster-shell-extension/issues/328#issue-58448

[2020-09-05 14:22] ederag commented on #328
@salim-b
About the "idle" removal, there were [good reasons](https://github.com/projecthamster/hamster/issues/493#issuecomment-687609480).
And about "overhasty", I disagreed [a while ago](https://github.com/projecthamster/hamster/issues/568#issuecomment-588474734).

Responsibility is on a bunch of people who were not thorough enough,
and who wanted too much.

---

And I precisely disagreed:
the sh

[2020-10-19 07:59] matthijskooijman opened #335 ""Replace calendar" option breaks, maybe simplify positioning options?"
When I select "Positioning: Replace calendar" in the extension settings, the extension is placed left of the calendar, but the calendar is also still shown. `journalctl -g hamster` shows:

[code]

Which explains this behavior. I'm not sure why this happens, looking at the source for my `gnome-shell` 3.36.3, I see that `Main.panel.statusArea.dateMenu` is still used, but maybe there is an ordering p

[2020-10-19 09:46] matthijskooijman commented on #304
Any progress on this issue?

@DirkHoffmann, you said:

But that links back to this issue. Did you intend to link elsewhere?

AFAICS, this issue mostly talks about clearing away other uploads of the extension to EGO, but the other part of this issue is uploading new version of the extension to the official repo (or whatever the terminology is) on EGO. AFAIU recent merges have made the extension in

[2020-10-23 07:51] LM-HZG opened #337 "Manual install fails on Ubuntu 18.04, Gnome 3.28"
Hello there,

I'm having troubles to install the extension for Gnome 3.28. I tried the following two approaches following the Readme:

1. manually download and install
- download [latest commit](https://github.com/projecthamster/hamster-shell-extension/commit/16b7a0e32d37257e48defe1f65f1d72badb0be2b) for Gome Shell version 3.28 from Releases
- extract and enter folder
- execute make dist
- Result:

[2020-10-23 09:17] LM-HZG commented on #337
**Update:**

- omitting line …

…(file does not exist anymore) in collect section of the makefile lets the make routine finish the task, and the respective tarballs and zips are created
- unpacking with `tar xfz dist/contact@projecthamster.org.tgz -C ~/.local/share/gnome-shell/extensions/contact@projecthamster.org` (Not that the readme states "…projecthamster.org.**tar.gz**…") and refreshing the s

[2020-10-23 09:51] LM-HZG commented on #337
For the sake of completeness - the same errors occur following the instructions in #327 with the file linked for 3.28.

[2020-10-25 11:49] hedayat commented on #337
The mentioned file is no longer needed for more recent Gnome vesions; so, you should download the one for gnome 3.28.

You can use this URL instead of the original one:

https://gitlab.gnome.org/GNOME/gnome-shell-extensions/-/raw/gnome-3-28/lib/convenience.js

[2020-10-26 07:45] LM-HZG commented on #337
That worked! Thanks for pointing me to the right file @hedayat

[2020-10-26 07:45] #337 closed, assigned to nobody

[2020-10-27 11:53] hedayat commented on #337
:) You're welcome

[2020-11-27 15:09] rhertzog commented on #320
FWIW, I uploaded to Debian a package for the shell extension too: https://salsa.debian.org/projecthamster-team/gnome-shell-extension-hamster

[2020-12-06 10:37] pabs3 commented on #320
The package has now reached Debian unstable.

[2020-12-09 20:21] faebser opened #338 "Gnome 3.38 compatibility and Testing Help"
Hi guys,

I was wondering if there is a way to gnome 3.38 compatibility? I would also love to help out with testing and giving feedback.

Thanks

[2020-12-11 17:45] rhertzog commented on #338
The extension does work with GNOME 3.38 without any change. We just need to bump the data in data/metadata.json.in.

[2020-12-11 18:43] matthijskooijman commented on #334
If we want to fix this in hamster, we should probably discuss it there, I created https://github.com/projecthamster/hamster/issues/657 for that.

[2020-12-11 20:19] ederag commented on #334
@rhertzog This change was not done lightly.

But you are right that the extension should follow, see my recommendations:
https://github.com/getting-things-gnome/gtg/pull/465#issuecomment-711026830

[2020-12-13 15:26] rhertzog commented on #334
@ederag I see that you have thought hard to support quite some corner case but I believe it's not the good trade off that you picked.

[2020-12-13 17:01] ederag commented on #334
@rhertzog
I'm not surprised that it might seem so *at first sight*, but no,
the main starting point for the parser overhaul was _much deeper_.

No time to dive into my notes, but it was needed.
Main points: _readable_ code, _simple rules_, **no** fragile heuristics.
The infrastructure is rock solid (not a bug about it surfaced in 9 months), thanks to this approach.

The "corner cases" came as a bo

[2020-12-14 09:28] mwilck commented on #334
I can just repeat what I [said before](https://github.com/projecthamster/hamster/issues/465#issuecomment-547335487): the current rules of the "permissive parser" are overly complex. Too much complexity causes confusion, and the "double comma" ist just one particularly weird example for that.

It has all been done with good intentions, trying to satisfy user requests. Yet I believe it was misguided

[2020-12-14 11:46] hedayat commented on #334
I'd suggest all discussion about reverting the change happen in projecthamster/hamster#657, so that everything is in the same place.

I'd suggest this issue is either fixed for the current released version, or is suspended until projecthamster/hamster#657 is resolved.

[2020-12-15 16:28] faebser commented on #338
Thank you, it works now.

Is there stuff to test?

[2020-12-26 21:25] ederag commented on #334
Agreed, the technical discussion should go to projecthamster/hamster#657,
but here are a few comments relevant to this thread only (IMO):
1. `> you have thought hard to support quite some corner case`
Funny how some people like @rhertzog [want their own features](https://github.com/projecthamster/hamster/pull/663) so bad, and call others "corner cases" :rofl:,
2. The v3 rules are summarized [here]

[2020-12-27 10:08] rhertzog commented on #334
Clearly we don't have the same definition of user-friendly. And if instead of laughing at my code, you'd have taken the time to read it, you would see that my changes actually make the parser more robust while not introducing the needless complexity of the required double-comma.

This is not true. If anyone uses double-comma, it will continue to work as usual with a single-comma as delimiter. We c

[2020-12-27 10:20] ederag commented on #334
I did not.

And I also disagree with the remainder (you're missing the point).
But go ahead, you've been warned.

[2021-03-22 08:58] hedayat opened #340 "Gnome 40 Support"
The extension doesn't work under Gnome 40.

At least. when you try to open the preferences you receive:
[code]

Well, it seems that it is because of the move to Gtk 4.

You also need to explicitly add version 40 to extension supported gnome shell versions.

~Update: the extension itself seems to also need changes to become compatible with gnome 40~
Update 2: well, while it didn't work before, it w

[2021-04-27 10:08] faebser commented on #340
As this extension is part of my daily workflow I would really like to know how you got it to run in Gnome 40.

[2021-04-27 18:29] hedayat commented on #340
@faebser Edit metadata.json (~/.local/share/gnome-shell/extensions/contact@projecthamster.org/metadata.json) and add "40" to shell-version array. Save the file and reload the extension or gnome-shell. It should work. Although, the preferences window won't work in its current state.

[2021-05-06 21:41] #338 closed, assigned to nobody

[2021-05-11 17:38] milotype opened #342 "Update translation files"
Please update .po translation files for _hamster-shell-extension_ from Weblate https://hosted.weblate.org/projects/project-hamster/.
Also please check if you can add other "Hamster" components to Weblate.

Thank you.

[2021-05-12 00:38] hedayat commented on #340
Closed by #341

[2021-05-12 00:38] #340 closed, assigned to nobody

[2021-05-12 00:47] hedayat commented on #342
I think this can only be done by @elbenfreund

[2021-06-01 06:55] mwilck commented on #335
No solution to this problem, but we do have a new "center, next to calendar" placement option now.

[2021-06-01 08:05] jorgeecardona commented on #327
The official extension is still failing to install, the code in develop in the other hand install without problems. I'm in a Gnome 3.38.4 (Debian sid.)

[2021-06-04 16:25] mwilck commented on #327
Sure. Nobody but @elbenfreund can do anything about that.

[2021-06-25 15:53] auipga commented on #327
develop branch works great on GS40/wayland/archlinux.
To "get in touch": I'm willing to test new features. Just ping me somewhere in the PR or comment.

[2021-06-28 09:24] #282 closed, assigned to nobody

[2021-06-28 09:24] #286 closed, assigned to nobody

[2021-08-11 13:07] camlafit opened #347 "Provide 3.38 tag"
Hello

Since 89a93f4dcbefb40b00c1eda4b33114112d7c8b51 , develop version looks compatible with 3.38 gnome. Should be nice to
update #327 and add gnome-shell-3.38 tag or at least allow update from https://extensions.gnome.org/

Thanks

[2021-09-25 01:30] StatPal commented on #327
EDIT: **It is working now.** Possibly a restart was necessary, otherwise it was not even showing in gnome-extension. Thanks again for this great extension.

------
First I tried to install from extensions.gnome.org - however, it gave errors.
I tried 3.36 version in **gnome-shell 40.4** and unfortunately nothing is being shown in gnome-extension. I'm in Manjaro linux with linux 5.13 and Gnome DE.
D

[2022-08-16 19:42] rrthomas commented on #347
Similarly now for GNOME 42!

[2022-08-17 11:46] rrthomas opened #350 "Cannot edit hotkey in prefs"
On GNOME 42, when I edit the hotkey in the prefs in Extension Manager, whatever I type as the new hotkey combination is replaced by the string `0x1`, which looks like some kind of error code.

If I edit the hotkey pref directly in dconf, then it takes effect as expected.

Thanks for hamster-shell-extension! I was relieved to find it has been updated for GNOME 42 when I upgraded just now.

[2022-08-19 10:24] mwilck commented on #350
Thanks for the report. It seems that `Gtk.accelerator_parse()` has changed its return value
  - [Gtk3](https://gjs-docs.gnome.org/gtk30~3.24.34/gtk.accelerator_parse)
  - [Gtk4](https://gjs-docs.gnome.org/gtk40~4.6.6/gtk.accelerator_parse)

Strangely, `Gtk.MAJOR_VERSION` is different in the extension itself and in `lg`.

[2022-08-19 10:32] mwilck commented on #350
Please test the code from #351.

[2022-08-19 13:22] mwilck commented on #347
We can't update extensions.gnome.org. Only @elbenfreund would be able to do that.

[2022-08-19 13:25] rrthomas commented on #347
Ah, thanks!

[2022-08-19 13:33] mwilck commented on #347
Done.

[2022-08-19 13:33] #347 closed, assigned to nobody

[2022-08-19 19:36] hedayat commented on #347
Thanks Martin for the fix. But, maybe its time for us to somehow push the new version without waiting for @elbenfreund  anymore. For example by adding a number at the end as a new extension.

[2022-08-19 19:51] #267 closed

[2022-08-22 14:44] #350 closed, assigned to nobody